/* BODY */
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* HEADER CONTAINER */
.header{
    text-align: center;
    height: 100px;
    
}

/* SKETCH CONTAINER */

.sketch-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sketch-board{
    display: grid;
    width: 500px;
    height: 500px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}


/* SKETCH OPTIONS */

.sketch-btn-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    position: absolute;
    top: 260px;
    left: 20px;

    border: 2px solid black;
    border-radius: 24px;
    padding: 8px;
}

#color-picker{
    width: 24px;
    height: 24px;
    cursor: pointer;

    border: none;
    padding: 0;
    background-color: transparent;
}

#pen,
#eraser,
#clear{
    border: 1px solid white;
    cursor: pointer;
    background-color: transparent;

}

.size-controller{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6px;
    
    position: absolute;
    bottom: 40px;
    left: 682px;
}

