/* HEADER CONTAINER */
.header{
    text-align: center;
    height: 100px;
    
}

/* SKETCH CONTAINER */

.sketch-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sketch-board{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

.sketch-cell{
    border: 1px solid black;
}

/* SKETCH OPTIONS */

.sketch-btn-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    position: absolute;
    top: 300px;

    border: 2px solid black;
    border-radius: 24px;
    padding: 8px;
}

#color-picker{
    width: 24px;
    height: 24px;
    cursor: pointer;

    border: none;
    padding: 0;
    background-color: transparent;
}

#pen,
#eraser{
    border: 1px solid white;
    cursor: pointer;
    background-color: transparent;

}

